<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-empleado-heading" jhiTranslate="pruebaBackApp.empleado.home.createOrEditLabel">Create or edit a Empleado</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebaBackApp.empleado.idEmpleado" for="field_idEmpleado">Id Empleado</label>
                    <input type="number" class="form-control" name="idEmpleado" id="field_idEmpleado"
                           formControlName="idEmpleado"/>
                    <div *ngIf="editForm.get('idEmpleado').invalid && (editForm.get('idEmpleado').dirty || editForm.get('idEmpleado').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idEmpleado').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idEmpleado')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebaBackApp.empleado.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebaBackApp.empleado.salario" for="field_salario">Salario</label>
                    <input type="number" class="form-control" name="salario" id="field_salario"
                           formControlName="salario"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebaBackApp.empleado.apellido" for="field_apellido">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="field_apellido"
                           formControlName="apellido"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebaBackApp.empleado.departamento" for="field_departamento">Departamento</label>
                    <select class="form-control" id="field_departamento" name="departamento" formControlName="departamento">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="departamentoOption.id === editForm.get('departamento').value?.id ? editForm.get('departamento').value : departamentoOption" *ngFor="let departamentoOption of departamentos; trackBy: trackDepartamentoById">{{departamentoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
