<div>
    <h2 id="page-heading">
        <span jhiTranslate="pruebaBackApp.departamento.home.title">Departamentos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-departamento" [routerLink]="['/departamento/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pruebaBackApp.departamento.home.createLabel">
            Create new Departamento
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="departamentos?.length === 0">
        <span jhiTranslate="pruebaBackApp.departamento.home.notFound">No departamentos found</span>
    </div>
    <div class="table-responsive" *ngIf="departamentos?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombreDepartamento"><span jhiTranslate="pruebaBackApp.departamento.nombreDepartamento">Nombre Departamento</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="empresa.id"><span jhiTranslate="pruebaBackApp.departamento.empresa">Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let departamento of departamentos ;trackBy: trackId">
                <td><a [routerLink]="['/departamento', departamento.id, 'view' ]">{{departamento.id}}</a></td>
                <td>{{departamento.nombreDepartamento}}</td>
                <td>
                    <div *ngIf="departamento.empresa">
                        <a [routerLink]="['../empresa', departamento.empresa?.id, 'view' ]" >{{departamento.empresa?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/departamento', departamento.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/departamento', departamento.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'departamento', { outlets: { popup: departamento.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="departamentos?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
